@import '~@spectrum-css/vars/dist/spectrum-global.css';
@import '~@spectrum-css/vars/dist/spectrum-medium.css';
@import '~@spectrum-css/vars/dist/spectrum-light.css';
@import '~@spectrum-css/vars/dist/spectrum-dark.css';
@import '~@spectrum-css/page/dist/index-vars.css';
@import '~@spectrum-css/button/dist/index-vars.css';
@import '~@spectrum-css/typography/dist/index-vars.css';
@import '~@spectrum-css/typography/dist/vars.css';

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #1e1e1e;
  }
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  height: 3rem;
  background-color: black;
  padding: 1rem;
}

h1#title {
  text-align: center;
}

.doggo-container {
  width: 100%;
}

.doggo {
  width: 100vw;
  height: 100vw;
  -webkit-border-radius: 100vw;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100vw;
  -moz-background-clip: padding;
  border-radius: 100vw;
  background-clip: padding-box;
  object-fit: cover;
  max-width: 500px;
  max-height: 500px;
}

h1.dog-name {
  text-align: center;
}
