@import '~@spectrum-css/vars/dist/spectrum-global.css';
@import '~@spectrum-css/vars/dist/spectrum-medium.css';
@import '~@spectrum-css/vars/dist/spectrum-light.css';
@import '~@spectrum-css/vars/dist/spectrum-dark.css';
@import '~@spectrum-css/button/dist/index-vars.css';
@import '~@spectrum-css/typography/dist/index-vars.css';
@import '~@spectrum-css/typography/dist/vars.css';

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(30, 30, 30);
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover,
a.disabled {
  color: rgb(255, 255, 255, 0.5);
}

a.disabled {
  cursor: default;
  pointer-events: none;
}

html,
body,
#root {
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  padding: 1rem;
}

nav {
  display: flex;
  gap: 2rem;
}

h1.random-dog-title {
  text-align: center;
  padding: 10vh 0;
}

h1.dog-profile-title {
  text-align: center;
  padding: 5vh 0;
}

.content-container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(20, 20, 20);
  max-width: 50rem;
  padding: 2rem;
}

.random-dog-img-container {
  width: 100%;
}

.random-dog-img {
  width: calc(100vw - 4rem);
  height: calc(100vw - 4rem);
  -webkit-border-radius: 100vw;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100vw;
  -moz-background-clip: padding;
  border-radius: 100vw;
  background-clip: padding-box;
  object-fit: cover;
  max-width: 500px;
  max-height: 500px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.random-dog-img-hover {
  opacity: 0.6;
}

.image-with-hover-container {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}

.image-with-hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.random-dog-content {
  text-align: center;
  padding: 2rem;
}

a.random-dog-name-link {
  text-decoration: underline;
}

h1.dog-name {
  text-align: center;
}

img.dog-profile-img {
  width: 100%;
  border-radius: 10%;
}

.dog-profile-content {
  padding: 2rem;
}

.dog-profile-detail-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.dog-profile-detail-row-right {
  text-align: right;
}

.dog-profile-compare {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.dog-profile-compare-item {
  flex: 25%;
}

.catalog-compare-button-container {
  padding: 2rem;
}
