@import '~@spectrum-css/vars/dist/spectrum-global.css';
@import '~@spectrum-css/vars/dist/spectrum-medium.css';
@import '~@spectrum-css/vars/dist/spectrum-light.css';
@import '~@spectrum-css/vars/dist/spectrum-dark.css';
@import '~@spectrum-css/page/dist/index-vars.css';
@import '~@spectrum-css/button/dist/index-vars.css';
@import '~@spectrum-css/typography/dist/index-vars.css';
@import '~@spectrum-css/typography/dist/vars.css';

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #1e1e1e;
  }
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  min-height: 3rem;
  background-color: black;
  padding: 1rem;
}

h1.random-dog-title {
  text-align: center;
  padding: 10vh 0;
}

h1.dog-profile-title {
  text-align: center;
  padding: 5vh 0;
}

.content-container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(20, 20, 20);
  max-width: 50rem;
  padding: 2rem;
}

.random-dog-img-container {
  width: 100%;
}

.random-dog-img {
  width: calc(100vw - 4rem);
  height: calc(100vw - 4rem);
  -webkit-border-radius: 100vw;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100vw;
  -moz-background-clip: padding;
  border-radius: 100vw;
  background-clip: padding-box;
  object-fit: cover;
  max-width: 500px;
  max-height: 500px;
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.random-dog-img-hover {
  opacity: 0.6;
}

.image-with-hover-container {
  position: relative;
  text-align: center;
  color: white;
}

.image-with-hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.random-dog-content {
  text-align: center;
  padding: 2rem;
}

.random-dog-name-link {
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
}

h1.dog-name {
  text-align: center;
}

img.dog-profile-img {
  width: 100%;
  border-radius: 10%;
}

.dog-profile-content {
  padding: 2rem;
}

.dog-profile-detail-row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.dog-profile-detail-row-right {
  text-align: right;
}
